<html>
    <head>
        <title>TIP</title>
    </head>
  
    <body>
        <div class="container col-9">
            <!-- index content -->
            <div class="index-content">
             <h3>TIP 게시판</h3>
             
             <h5>실시간 인기글</h5>
                <hr>
                <ol>
                    <%@tippostslike.each do |p|%>
                    <li style="margin-left:3em; ">
                        <a href="/tipposts/show/<%=p.id%>" style="margin-left:3em;"><%=p.title%></a>
                    </li>
                    <%end%>
                </ol>
                
                <hr>
            
            </div>
            <br>
            <div class="category">
            <h4>CATEGORY</h4>
            |
            <a href="/tipposts/category/2">&nbsp;카페&nbsp;</a>|
            <a href="/tipposts/category/3">&nbsp;편의점&nbsp;</a>|
            <a href="/tipposts/category/4">&nbsp;음식점&nbsp;</a>|
            <a href="/tipposts/category/5">&nbsp;영화관&nbsp;</a>|
            <a href="/tipposts/category/6">&nbsp;교육&nbsp;</a>|
            <a href="/tipposts/category/1">&nbsp;기타&nbsp;</a>|
            
            </div>
      <br>
    
    <div class="index-content">
    

    
    <table style="width:100%; border-top: 1px solid #D8D8D8; border-bottom: 1px solid #D8D8D8;">
                     <tr style="border-bottom: 1px solid #D8D8D8;">
                         <th style="width:13%;">
                             category
                         </th>
                         <th style="width:47%;">
                             title
                         </th>
                         <th style="width:10%;">
                             writer
                         </th>
                         <th style="width:20%;">
                             date
                         </th>
                         <th style="width:10%;">
                             like
                         </th>
                     </tr>
                     
    <% @tipposts.each do |p| %>
    <tr>
        <td class="no" style="text-align: center; font-size:0.8em;"><%=p.category.name%></td>
        <td><a href="/tipposts/show/<%=p.id%>"><%= p.title %></a></td>
        <td style="text-align: center;"><%=p.user.name%></td>
        <td class="date" style="text-align: center;"><%=p.updated_at%></td>
        <td class="like-count" style="text-align: center;"><%=p.upcount%></td>
    </tr>
    <% end %>
    </table>
    <br>
    <!--글쓰기 버튼-->
            <form action="/tipposts/new" style="float:left;">
                <button type="submit" class="btn btn-secondary btn-sm">write</button>
            </form>
    <!--pagination-->
           <div class="pagination">
               <%= will_paginate @tipposts %>
           </div>
           <br>
    <!--search-->
    <div class="search">
        <%= form_tag(tipposts_path, :method => "get", id: "search-form") do %>
            <input type="text" class="form-control form-control-sm index-search" name="search" id="search" placeholder="제목 또는 내용 검색">
            <button type="submit" class="btn btn-secondary btn-sm">search</button>
        <% end %>
    </div>
            </div>
        </div>
    </body>
</html>
    
 
